.scale-up-center {
    -webkit-animation: scale-up-center 0.5s linear both;
    animation: scale-up-center 0.5s linear both;
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.slide-bottom {
    -webkit-animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    opacity: 1;
}
@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.slide-top {
    -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

.show-fade {
    -webkit-animation: show-fade 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1.6s;
    animation: show-fade 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1.6s;
}
@-webkit-keyframes show-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes show-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.show-fade--section {
    -webkit-animation: show-fade--section 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.22s;
    animation: show-fade--section 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.22s;
}
@-webkit-keyframes show-fade--section {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes show-fade--section {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.float-img {
    -webkit-animation: float 2s infinite alternate;
    animation: float 2s infinite alternate;
}
.float-img {
    -webkit-animation: float 2s infinite alternate;
    animation: float 2s infinite alternate;
}
@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
