@media (max-width: 30em) {
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 47%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}
@media only screen and (max-width: 991px) {
  .main-title {
    font-size: 35pt;
    font-weight: bold;
  }
  .main-paragraph {
    margin: 20px 0 20px 0;
    line-height: unset;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    z-index: 1;
  }
}
@media only screen and (max-width: 768px) {
  #nav {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    background: var(--white);
    width: 100%;
    animation-delay: unset !important;
    animation: show-fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1.6s;
  }
  #nav.active {
    display: block;
  }
  .header nav ul {
    flex-direction: column;
  }
  .header nav ul li {
    padding: 10px 0 !important;
  }
  .nav-navbar-res {
    display: block !important;
    height: auto;
  }
  .es-temp {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 55px auto;
    grid-template-columns: 100%;
  }
  .es-temp > *:nth-child(1) {
    margin-top: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .main .row {
    flex-direction: column-reverse;
  }
  .main img {
    height: 300px;
  }
  .main-title {
    font-size: 25pt;
  }
  .main-paragraph {
    margin: 10px 0 10px 0;
  }
  .main-btn button {
    font-size: 10pt;
    color: var(--white);
    font-weight: bold;
    border-radius: 50px;
    position: relative;
    height: 40px;
    width: 150px;
  }
}
@media only screen and (max-width: 330px) {
  .main img {
    height: 200px !important;
  }
}
